<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Gestion des évenements</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		
		<h1>Gestion des évenements</h1>
		
		<h2>Ajout d'un évenement</h2>
		
		<form action="http://localhost:8080/ajout_evenement" method="get" class="form">
			<div class="form-div">
		    	<label for="Nom"> Nom : </label>
		    	<input type="text" name="Nom" id="Nom" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="date_debut"> debut : </label>
		    	<input type="date" name="date_debut" id="date_debut" required>
		  	</div>
		  	<div class="form-div">
		    	<input type="submit" value="Ajouter">
		  	</div>
		</form>
		
		<h2>Modifier/Supprimer un évènement</h2>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Horaire </th>
		            <th> Nombre de participants </th>
		            <th> Participants </th>
		            <th> Modifier </th>
		            <th> Supprimer </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeEvenements.empty}">
		            <td colspan="4"> Pas d'évènements </td>
		        </tr>
		        <tr th:each="evenement : ${listeEvenements}">
		            <td><span th:text="${evenement.intitule}"> Nom </span></td>
		            <td><span th:text="${evenement.date_debut}"> Horaire </span></td>
		            <td><span th:text="${evenement.participants.size()}"> Nombre de participants </span></td>
		            <td><ul th:each="participant : ${evenement.participants}"><li><span th:text="${participant.prenom}"> Participants </span></li></ul></td>
		            <td><form th:action="@{'http://localhost:8080/modifier_evenement/'+${evenement.idEvenement}}"><input type="submit" value="Modifier"></form></td>
		            <td><form th:action="@{'http://localhost:8080/supprimer_evenement/'+${evenement.idEvenement}}">
		            	<div th:if="${evenement.hasNoParticipants()}">
		            		<input type="submit" value="Supprimer">
						</div>
						<div th:unless="${evenement.hasNoParticipants()}">
		            		<input type="submit" value="Supprimer" disabled>
						</div>
		            	</form></td>
		        </tr>
		    </tbody>
		</table>

		<div>
			<p>
				<a href="http://localhost:8080">retour Accueil</a>
			</p>
		</div>
		
	</body>
	
</html>