<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Gestion des participants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
	

		
		<h1>Gestion des participants</h1>
		
		<h2>Ajout de participant</h2>
		
		<form action="http://localhost:8080/ajout_participant" method="get" class="form">
			<div class="form-div">
		    	<label for="nom"> Nom : </label>
		    	<input type="text" name="nom" id="nom" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="prenom"> Prenom : </label>
		    	<input type="text" name="prenom" id="prenom" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="email"> Email : </label>
		    	<input type="email" name="email" id="email" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="dateNaissance"> Date de naissance : </label>
		    	<input type="date" name="dateNaissance" id="dateNaissance" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="evenement"> Evènements : </label>
		    	<div th:if="${listeEvenements.empty}">
		            <span> Pas d'évènements </span>
		        </div>
				<div th:each="evenement : ${listeEvenements}">
				 	<label th:for="${evenement.nom}"><span th:text="${evenement.nom}"> Nom </span></label>
				    <input type="checkbox" id="evenement" name="evenement" th:value="${evenement.idEvenement}">
		        </div>
		  	</div>
		  	<div class="form-div">
		    	<input type="submit" value="Ajout">
		  	</div>
		</form>
		
		<h2>Modifier/Supprimer un participant</h2>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Prénom </th>
		            <th> Email </th>
		            <th> Date de naissance </th>
		            <th> Nombre d'évènements </th>
		            <th> Evènements </th>
		            <th> Modifier </th>
		            <th> Supprimer </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeParticipants.empty}">
		            <td colspan="6"> Pas de participants </td>
		        </tr>
		        <tr th:each="participant : ${listeParticipants}">
		            <td><span th:text="${participant.nom}"> Nom </span></td>
		            <td><span th:text="${participant.prenom}"> Prénom </span></td>
		            <td><span th:text="${participant.email}"> Email </span></td>
		            <td><span th:text="${participant.dateNaissance}"> Date de naissance </span></td>
		            <td><span th:text="${participant.evenements.size()}"> Nombre d'évènements </span></td>
		            <td><ul th:each="evenement : ${participant.evenements}"><li><span th:text="${evenement.nom}"> Evènement </span></li></ul></td>
		            <td><form th:action="@{'http://localhost:8080/modifier_participant/'+${participant.idParticipant}}"><input type="submit" value="Modifier"></form></td>
		            <td><form th:action="@{'http://localhost:8080/supprimer_participant/'+${participant.idParticipant}}"><input type="submit" value="Supprimer"></form></td>
		        </tr>
		    </tbody>
		</table>

		<div>
			<p>
				<a href="http://localhost:8080">retour Accueil</a>
			</p>
		</div>
		
	</body>
	
</html>