<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Liste des évenements</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
	
		
		<h1>Liste des événements</h1>
		
		<table>
		    <thead>
		        <tr>
		            <th> Nom </th>
		            <th> Debut </th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr th:if="${listeEvenements.empty}">
		            <td colspan="2"> Pas d'évènements </td>
		        </tr>
		        <tr th:each="evenement : ${listeEvenements}">
		            <td><span th:text="${evenement.nom}"> Nom </span></td>
		            <td><span th:text="${evenement.dateDebut}"> Debut </span></td>
		        </tr>
		    </tbody>
		</table>
		<div>
			<p>
				<a href="http://localhost:8080">retour Accueil</a>
			</p>
		</div>
	</body>
	
</html>