<!DOCTYPE HTML>

<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Modifier un intervenant</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>
		<form th:action="@{'http://localhost:8080/sauvegarder_modification_intervenant/' + ${intervenant.idParticipant}}" method="get" class="form">
			<div class="form-div">
		    	<label for="nom"> Nom : </label>
		    	<input type="text" name="nom" id="nom" th:value="${intervenant.nom}" required>
		  	</div>
		  	<div class="form-div">
		    	<label for="prenom"> Prenom : </label>
		    	<input type="text" name="prenom" id="prenom" th:value="${intervenant.prenom}"required>
		  	</div>
		  	<div class="form-div">
		    	<label for="email"> Email : </label>
		    	<input type="email" name="email" id="email" th:value="${intervenant.email}"required>
		  	</div>
		  	<div class="form-div">
		    	<label for="date_naiss"> Date de naissance : </label>
		    	<input type="date" name="date_naiss" id="date_naiss" th:value="${intervenant.dateNaissance}"required>
		  	</div>
		  	<div class="form-div">
		    	<label for="date_naiss"> Evènements : </label>
		    	<div th:if="${listeEvenements.empty}">
		            <span> Pas d'évènements </span>
		        </div>
				<div th:each="evenement : ${listeEvenements}">
				 	<label th:for="${evenement.nom}"><span th:text="${evenement.nom}"> Intitulé </span></label>
				    <input type="checkbox" id="evenement" name="evenement" th:value="${evenement.idEvenement}">
		        </div>
		  	</div>
		  	
		  	<div class="form-div">
		  		<label for="id_intervenant"> Numéro d'intervenant : </label>
		  		<input type="number" id="id_intervenant" name="id_intervenant" th:value="${intervenant.idIntervenant}" required>
		  	</div>
		  	
		    <div class="form-div">
		  		<label for="nombresHeures"> Nombre d'heures d'interventions : </label>
		  		<input type="number" id="nombreHeures" name="nombreHeures" th:value="${intervenant.nombreHeures}"required>
		  	</div>
		  	
		  	<div class="form-div">
		  		<label for="besoinsSpecifiques"> Besoins spécifiques : </label>
		  		<input type="text" id="besoinsSpecifiques" name="besoinsSpecifiques" th:value="${intervenant.besoinsSpecifiques}"required>
		  	</div>
		  	
		  	<div class="form-div">
		    	<input type="submit" value="Valider">
		  	</div>
		</form>
	</body>
	
</html>